@font-face {
  font-family: "nastaliq";
  src: url(./fonts/NotoNastaliqUrdu-Regular.ttf);
}

@font-face {
  font-family: "nastaliq";
  src: url(./fonts/NotoNastaliqUrdu-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "nastaliq-kasheed";
  src: url(./fonts/JameelNooriNastaleeqKasheeda.ttf);
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  font-family: "nastaliq-kasheed";
  color: black;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-top: 60px;
}
